<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Event Imp is the first quarterly project of the #CodeQuarters series on <a href="http://codebuddies.org"/>CodeBuddies.org</a>. It is a social calendar webapp built with Ruby on Rails, MongoDB, and love from the CodeBuddies community. 
</p>
